<section class="pt40">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 section-content pt40">
                <div class="feature">
                    <h4 class="uppercase bold">Sign Up</h4>

                    <form class="text-left mt24">
                        <input type="text" id="firstname" name="firstname" value="" required placeholder="firstName" />

                        <input type="text" id="lastname" value="" name="lastname" required placeholder="Last Name" />

                        <input type="text" id="email" value="" name="email" required placeholder="Email" />

                        <input type="password" id="password" name="password" required placeholder="Password" />

                        <input type="password" id="repassword" name="repassword" required data-validation-match-match="password" placeholder="Re-type Password" />
                        <input type="button" id="btnAccountSignUp" value="Sign Up" class="btn btn-filled" style="width:100%;">


                    </form>
                    <p class="mb0 text-center">
                        Already have an account?
                        <a href="/account/signin">Sign In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
