<section class="pt40">
    <div class="container" ng-controller="AccountController" data-ng-init="signInInit()" >
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 section-content pt40">
                <div class="feature">
                    <h4 class="uppercase bold">Sign In</h4>

                    <form class="text-left mt24" ng-submit="login()">

                        <input type="text" id="email" value="" name="email" required placeholder="Email" ng-model="email">

                        <input type="password" id="password" name="password" required placeholder="Password" ng-model="password" style="margin-bottom:0;">
                        <span class="pull-right"><a href="">Forgot your password?</a></span>
                        <input type="submit"  value="SignIn" class="btn btn-filled" style="width:100%;margin-top:24px;">

                    </form>
                    <p class="mb0 text-center">
                        Don't have an account?
                        <a href="/account/signup">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
	
</section>


