
<div ng-app="app">
    <div ng-controller="ShopBannerController" id="slides_control" data-ng-init ="InitPageLoad()">
        <section class="p0 container mt40" style="height:300px; width:700px;">

                   <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active" style="width: 700px; height:300px;">
                            <img ng-src="{{slide.BannerImage.UrlOriginalQ}}">
                        </slide>
                    </carousel>
            </section> 

    </div>
</div>
    
    
    